In [1]:
import pandas as pd
import numpy as np

In [9]:
illiteracy = pd.read_csv('illiteracy.txt', sep = '\t', header = 0)

In [10]:
illiteracy.head()

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34
3   Belize    5.9    2.97
4    Benin   73.5    5.60

Есть ли связь между неграмотностью и рождаемостью? Для 94 стран, уровень неграмотности женщин в которых больше 5%, известны доля неграмотных среди женщин старше 15 (на 2003 год) и средняя рождаемость на одну женщину (на 2005 год).
illiteracy.txt

Чему равен выборочный коэффициент корреляции Пирсона между этими двумя признаками? Округлите до четырёх знаков после десятичной точки.

In [14]:
illiteracy_correlation_pearson = illiteracy.corr(method = 'pearson')

In [15]:
illiteracy_correlation_pearson

           Illit    Births
Illit   1.000000  0.768663
Births  0.768663  1.000000

Чему равен выборочный коэффициент корреляции Спирмена признаков из предыдущего вопроса? Округлите до четырёх знаков после десятичной точки.

In [16]:
illiteracy_correlation_spearman = illiteracy.corr(method = 'spearman')

In [17]:
illiteracy_correlation_spearman

           Illit    Births
Illit   1.000000  0.752962
Births  0.752962  1.000000

Для 61 большого города в Англии и Уэльсе известны средняя годовая смертность на 100000 населения (по данным 1958–1964) и концентрация кальция в питьевой воде (в частях на маллион). Чем выше концентрация кальция, тем жёстче вода. Города дополнительно поделены на северные и южные.
water.txt

Есть ли связь между жёсткостью воды и средней годовой смертностью? Посчитайте значение коэффициента корреляции Пирсона между этими признаками, округлите его до четырёх знаков после десятичной точки.

In [18]:
water = pd.read_csv('water.txt', sep = '\t', header = 0)

In [20]:
water.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [21]:
water_correlation_pearson = water.corr(method = 'pearson')

In [22]:
water_correlation_pearson

           mortality  hardness
mortality   1.000000 -0.654849
hardness   -0.654849  1.000000

В предыдущей задаче посчитайте значение коэффициента корреляции Спирмена между средней годовой смертностью и жёсткостью воды. Округлите до четырёх знаков после десятичной точки.

In [23]:
water_correlation_spearman = water.corr(method = 'spearman')

In [24]:
water_correlation_spearman

           mortality  hardness
mortality   1.000000 -0.631665
hardness   -0.631665  1.000000

Сохраняется ли связь между признаками, если разбить выборку на северные и южные города? Посчитайте значения корреляции Пирсона между средней годовой смертностью и жёсткостью воды в каждой из двух подвыборок, введите наименьшее по модулю из двух значений, округлив его до четырёх знаков после десятичной точки.

In [25]:
south_water = water[water.location == 'South']
north_water = water[water.location == 'North']

In [27]:
south_water_correlation_pearson = south_water.corr(method = 'pearson')
north_water_correlation_pearson = north_water.corr(method = 'pearson')

In [29]:
north_water_correlation_pearson

           mortality  hardness
mortality   1.000000 -0.368598
hardness   -0.368598  1.000000

In [28]:
south_water_correlation_pearson

           mortality  hardness
mortality   1.000000 -0.602153
hardness   -0.602153  1.000000

Среди респондентов General Social Survey 2014 года хотя бы раз в месяц проводят вечер в баре 203 женщины и 239 мужчин; реже, чем раз в месяц, это делают 718 женщин и 515 мужчин.

Посчитайте значение коэффициента корреляции Мэтьюса между полом и частотой похода в бары. Округлите значение до трёх знаков после десятичной точки.

In [34]:
from scipy import stats

In [50]:
A = ([239, 203], [515, 718])

In [51]:
corr_matthews = (A[0][0]*A[1][1] - A[1][0]*A[0][1])/np.sqrt((A[0][0]+A[0][1])*(A[0][0]+A[1][0])*(A[1][1]+A[0][1])*(A[1][1]+A[1][0]))

In [52]:
corr_matthews

0.10900237458678963

В предыдущей задаче проверьте, значимо ли коэффициент корреляции Мэтьюса отличается от нуля. Посчитайте достигаемый уровень значимости; используйте функцию scipy.stats.chi2_contingency. Введите номер первой значащей цифры (например, если вы получили 5.5×10−8, нужно ввести 8).

In [53]:
stats.chi2_contingency(A)

(19.407530788543038,
 1.0558987006638725e-05,
 1,
 array([[ 198.96597015,  243.03402985],
        [ 555.03402985,  677.96597015]]))

В предыдущей задаче давайте попробуем ответить на немного другой вопрос: отличаются ли доля мужчин и доля женщин, относительно часто проводящих вечера в баре? Постройте 95% доверительный интервал для разности долей, вычитая долю женщин из доли мужчин. Чему равна его нижняя граница? Округлите до четырёх знаков после десятичной точки.

In [61]:
women = np.zeros(718+203)
women[:203] =1

men = np.zeros(515+239)
men[:239] =1

In [54]:
def proportions_diff_confint_ind(sample1, sample2, alpha = 0.05):    
    z = scipy.stats.norm.ppf(1 - alpha / 2.)
    
    p1 = float(sum(sample1)) / len(sample1)
    p2 = float(sum(sample2)) / len(sample2)
    
    left_boundary = (p1 - p2) - z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    right_boundary = (p1 - p2) + z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    
    return (left_boundary, right_boundary)

In [69]:
print "95%% confidence interval for a difference between proportions: [%f, %f]" %\
      proportions_diff_confint_ind(men, women)

95% confidence interval for a difference between proportions: [0.053905, 0.139222]

Проверьте гипотезу о равенстве долей любителей часто проводить вечера в баре среди мужчин и женщин. Посчитайте достигаемый уровень значимости, используя двустороннюю альтернативу. Введите номер первой значащей цифры (например, если вы получили 5.5×10−8, нужно ввести 8).

In [67]:
def proportions_diff_z_stat_ind(sample1, sample2):
    n1 = len(sample1)
    n2 = len(sample2)
    
    p1 = float(sum(sample1)) / n1
    p2 = float(sum(sample2)) / n2 
    P = float(p1*n1 + p2*n2) / (n1 + n2)
    
    return (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))

In [66]:
def proportions_diff_z_test(z_stat, alternative = 'two-sided'):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    if alternative == 'two-sided':
        return 2 * (1 - scipy.stats.norm.cdf(np.abs(z_stat)))
    
    if alternative == 'less':
        return scipy.stats.norm.cdf(z_stat)

    if alternative == 'greater':
        return 1 - scipy.stats.norm.cdf(z_stat)

In [70]:
print "p-value: %f" % proportions_diff_z_test(proportions_diff_z_stat_ind(men, women))

p-value: 0.000008

Посмотрим на данные General Social Survey 2014 года и проанализируем, как связаны ответы на вопросы "Счастливы ли вы?" и "Довольны ли вы вашим финансовым положением?"
	
                    Не доволен	Более или менее	Доволен
    
    Не очень счастлив	197	111	33

    Достаточно счастлив	382	685	331

    Очень счастлив	110	342	333

Чему равно значение статистики хи-квадрат для этой таблицы сопряжённости? Округлите ответ до четырёх знаков после десятичной точки

In [74]:
B = np.array([[197, 111, 33], [382, 685, 331], [110, 342, 333]])

На данных из предыдущего вопроса посчитайте значение достигаемого уровня значимости. Введите номер первой значащей цифры (например, если вы получили 5.5×10−8, нужно ввести 8).

In [77]:
stats.chi2_contingency(B)

(293.68311039689746,
 2.4964299580093467e-62,
 4,
 array([[  93.08597464,  153.74722662,   94.16679873],
        [ 381.6251981 ,  630.318542  ,  386.0562599 ],
        [ 214.28882726,  353.93423138,  216.77694136]]))

Чему в предыдущей задаче равно значение коэффициента V Крамера для рассматриваемых признаков? Округлите ответ до четырёх знаков после десятичной точки.

In [81]:
V_Cramer = np.sqrt(293.68311039689746/(sum(sum(B))*2))

In [83]:
print "V-Cramer: %f" % V_Cramer

V-Cramer: 0.241201