In [1]:
import pandas as pd

In [2]:
frame = pd.read_csv('table.txt', header=0, sep='\t')
frame

           Player  PPG  RPG
0     Kobe Bryant   25    6
1    Lebron James   27    7
2  Michael Jordan   30    6

In [85]:
frame['APG'] = [5, 7, 5]
frame

           Player  PPG  RPG  APG
0     Kobe Bryant   25    6    5
1    Lebron James   27    7    7
2  Michael Jordan   30    6    5

In [86]:
new_player = {'Player':'Stephen Curry'}
frame = frame.append(new_player, ignore_index = True)
frame

           Player   PPG  RPG  APG
0     Kobe Bryant  25.0  6.0  5.0
1    Lebron James  27.0  7.0  7.0
2  Michael Jordan  30.0  6.0  5.0
3   Stephen Curry   NaN  NaN  NaN

In [87]:
frame.columns.values

array(['Player', 'PPG', 'RPG', 'APG'], dtype=object)

In [91]:
frame.RPG[3] = 3
frame.PPG[3] = 23
frame.APG[3] = 7
frame

C:\Users\Ivan\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\Ivan\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\Ivan\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

           Player   PPG  RPG  APG
0     Kobe Bryant  25.0  6.0  5.0
1    Lebron James  27.0  7.0  7.0
2  Michael Jordan  30.0  6.0  5.0
3   Stephen Curry  23.0  3.0  7.0

In [1]:
import numpy
numpy.random.rand(4, 5)

array([[ 0.8661151 ,  0.02657233,  0.32600887,  0.98136932,  0.35009973],
       [ 0.13584926,  0.77220972,  0.14877335,  0.04261238,  0.39611187],
       [ 0.82793878,  0.33257325,  0.02649371,  0.58449696,  0.95668923],
       [ 0.21602864,  0.96612783,  0.78825724,  0.61850301,  0.47597822]])